<h2>Messages</h2>

<div id="timeline" >
<% Post.all.each do |mes| %>
  <div class="message">
  <%= mes.user.name%>:
  <%= mes.message%>
  </div>
<% end %>
</div>

<div> <textarea name="" id="message" tabindex=""></textarea>
  <button id="commit">commit</button>  
</div>
